# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Database
*.db
*.sqlite3

# Logs
*.log
logs/
server/logs/

# System
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# IDE
.idea/
.vscode/

# Project Specific
modbus_ip
.env
